.canvas {
  background-color: white;
  border: 80px solid black;
  width: 500px;
  height: 600px;
  margin: auto;
}
.camera {
  background: radial-gradient(#F1F2ED,  #DBCCBA, #866D5F 200%);
  border-radius: 30px;
  width: 200px;
  height: 200px;
  margin: 40% auto;
}

.top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 65px;
  margin: auto;
  background-color: #905A43;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}

.stripes {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 146%;
  margin-left: 20px;
}

.one, .two, .three, .four {
  width: 25%;
  height: 100%;
}
.one {
  background-color: #FD3058;
}

.two {
  background-color: #FDC939;
}

.three {
  background-color: #6CCD8F;
}

.four {
  background-color: #438DFF;
}

.insta {
  background-color: #504738;
  width: 25%;
  height: 25px;
  border-radius: 10px;
  color: white;
  display: block;
  margin: -5px 0 0 5px;
}



h1 {
  font-size: 15px;
  text-align: center;
  margin-top: 3px;
  font-family: Georgia;
}