body {
  font-family: 'Courier New', Courier, monospace;
}

img {
  width: 100px;
  height: 100px;
  margin: auto;
}

.title {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.plants {
  display: flex;
  margin: 32px auto;
  max-width: 1000px;
}
.description {
  display: flex;
  flex-direction: column;
  
}

.text {
  height: 100px;
  text-align: center;
  margin: 8px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}